player-connection-mode=Listen
player-connection-guid=171177893
player-connection-debug=0
player-connection-project-name=GRA_2D
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.197
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ef421681a66e4474a284a21c92df7919
